/* nav */
.header__nav {
    padding: 10px 40px;
    display: flex;
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    top: 0;
    left: 0;
    align-items: center;
    background-color: var(--primary);
    background-color: transparent;
    z-index: 200;
}

.primary-nav {
    display: flex;
    align-items: center;
}

.header__home img {
    margin-top: 5px;
    margin-right: 20px;
    width: 100px;
}

.primary-nav__buttons {
    display: flex;
    justify-content: space-evenly;
}

.primary-nav__button {
    list-style: none;
    margin-right: 14px;
    white-space: nowrap;
    font-size: 14px;
}

.primary-nav__button:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.5s;
}

.primary-nav__menu {
    display: flex;
    position: relative;
    margin-right: auto;
    font-size: 14px;
}

.primary-nav__menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    top: 40px;
    right: 50%;
    padding: 5px 10px;
    transform: translate(50%, 0);
    position: absolute;
    opacity: 0;
    border-radius: 5px;
}

.primary-nav__menu-button {
    width: 80%;
    padding: 5px 10px;
    text-align: center;
    list-style: none;
    white-space: nowrap;
}

.primary-nav__menu-button + .primary-nav__menu-button {
    border-top: rgba(255, 255, 255, 0.2) solid 1px
}

.primary-nav__menu:hover .primary-nav__menu-buttons {
    opacity: 1;
    transition: 0.5s;
}

.secondary-nav {
    width: 140px;
    margin-left: auto;
}

.secondary-nav__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notifications-icon-container {
    position: relative;
}

.notifications-count {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-size: 12px;
    padding: 0px 5px 3px 5px;
    border-radius: 20px;  
}

.user-picture {
    border-radius: 3px;
    padding-top: 5px;
}


.icon {
    height: 24px;
}

/* content */
.header__content {
    position: relative;
    height: 900px;
    font-weight: 500;
}

.header__content-img {
    background-image: url("../assets/images/header-content-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 800px;
    box-shadow: inset 0px 0px 400px 50px black;
}

.header__content-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
    left: 50px;
}

.header__content-logo {
    width: 40%;
}

.header__content-desc {
    width: 35%;
    font-size: 14px;
    font-weight: 200;
    color: white;
}

.header__content-desc > p {
    margin: 20px 0px;
}

.header__content-buttons {
    display: flex;
}

.content-play, .content-info {
    display: flex;
    align-items: center;
    padding: 15px 24px;
    margin-right: 10px;
    height: 36px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.content-play:hover, .content-info:hover {
    opacity: 0.8
}

.content-play img{
    margin-right: 4px;
    width: 24px;
}

.content-info img {
    margin-right: 8px;
    width: 20px;
}

.content-play {
    background-color: white;
    color: black;
}

.content-info {
    background-color: rgba(120, 120, 120, 0.6);
}

/* topten */
.header__topten {
    position: absolute;
    bottom: 0px;
}

.header__topten > * {
    padding: 0 50px
}

.header__topten > p {
    position: absolute;
    bottom: 350px;
}

.header__topten-contents {
    min-height: 420px;
    background-image: linear-gradient(180deg,hsla(0,0%,8%,0) 0,hsla(0,0%,8%,.15) 15%,hsla(0,0%,8%,.35) 29%,hsla(0,0%,8%,.58) 44%,#141414 68%,#141414);
}

::-webkit-scrollbar { display: none; }

.header__topten-content img {
    height: 280px;
}

.svg-icon {
    height: 260px;
}

/* Media query */
@media (max-width: 899px) {
    .primary-nav__button {
        display: none;
    }
    .primary-nav__menu {
        display: flex;
    }
}

@media (min-width: 900px) {
    .primary-nav__button {
        display: flex;
    }
    .primary-nav__menu {
        display: none;
    }
}